.md-subheader-inner {
  padding: 0px !important;
}
#articleContent a {
  text-decoration: none;
  pointer-events: none;
  cursor: default;  
  color: black;
}
.progressFull {
  position: absolute;
  height: 100vh;
  width: 100vw;
}
.progressFull > md-progress-circular {
  left: 50%;
  top: 50%;
}
.mw-editsection, .reference {
  display: none !important;
}
p a {
  text-decoration: none;
}
#skillsList a {
  text-decoration: none;
}
.projectsLinks md-list-item a{
  font-weight: 400 !important;
}
.active {
  border-bottom: 1px solid rgb( 255, 64, 129 );
  border-radius: 0;
}